html, body {
    background: #222222;
    color: #b9b9b9;
    font-family: 'Fira Code', monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: #dd4814;
}

p.comment {
    color: #7b7b7b;
}

@media only screen and (min-width: 768px) {
    h1, h2, h3, h4, h5, h6, p {
        width: 50%;
    }
}
